<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Login'}) %>
<body>
    <%- include('../partials/headerNavbar') %>

    <main class="login-main-body">
        <form action="/" class="login-form" method="post">
            <div class="login-data">
                <label class="label-description" for="user-name">Nombre de usuario</label>
                <input type="text" name="data" id="user-name">
            </div>
            <div class="login-data">
                <label class="label-description" for="user-name">Contraseña</label>
                <input type="password" name="data" id="user-name">
            </div>
            <div class="button-login-form">
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>

</body>
</html>